@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
    padding: 0px !important;
    margin: 0px !important;
  }
}

body {
  padding: 0px !important;
  margin: 0px !important;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-input,
.ant-select-selector,
.ant-btn,
.ant-picker,
.ant-segmented,
.ant-segmented-item,
.ant-input-affix-wrapper,
.ant-qrcode,
.ant-modal-content,
.ant-notification-notice-wrapper,
.ant-pagination-item,
.ant-table-header,
.ant-input-number-affix-wrapper {
  border-radius: unset !important;
}
