@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
    
    padding: 0px !important;
    margin: 0px !important;
  }
}

body {
  padding: 0px !important;
  margin: 0px !important;
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
